<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RolePermissionQueryRfnxBizServiceMapper">

    <resultMap id="AnonymousModelAggregatedQuerySuyk" type="com.example.domain.model.AnonymousModelAggregatedQuerySuyk">
        <id column="id" property="id"/>
        <result column="code" property="code"  />
        <result column="name" property="name"  />
        <result column="prid" property="prid"  />
        <result column="role_id" property="roleId"  />
        <result column="purview_id" property="purviewId"  />
        <result column="purview_code_arr" property="purviewCodeArr"  />
    </resultMap>
      
  <select id="listAnonymousModelAggregatedQuerySuyk" resultMap="AnonymousModelAggregatedQuerySuyk">
      SELECT  DISTINCT `purview`.`id` AS `id`,`purview`.`code` AS `code`,`purview`.`name` AS `name`,`purview_relevancy`.`id` AS `prid`,`purview_relevancy`.`role_id` AS `role_id`,`purview_relevancy`.`purview_id` AS `purview_id`,`purview_relevancy`.`purview_code_arr` AS `purview_code_arr` FROM `purview` AS purview   LEFT JOIN `purview_relevancy`  ON `purview`.`id` = `purview_relevancy`.`purview_id`
      <where>
                <if test="roleIdXuhc != null">
                  AND `purview_relevancy`.`role_id` = #{roleIdXuhc}
                </if>
        </where>
        
  </select>

  <select id="countAnonymousModelAggregatedQuerySuyk"  resultType="java.lang.Long">
      SELECT COUNT(*) FROM `purview` AS purview   LEFT JOIN `purview_relevancy`  ON `purview`.`id` = `purview_relevancy`.`purview_id`
      <where>
                <if test="roleIdXuhc != null">
                  AND `purview_relevancy`.`role_id` = #{roleIdXuhc}
                </if>
        </where>
       
  </select>
</mapper>
